
#todo__input-task {
	width: 100%;
	border: none;
}

#todo__input-task::placeholder {
	color: rgb(105, 103, 103);
	opacity: 0.3;
}
#todo__input-task:placeholder-shown {
	color: #000;
}
input:active,
input:hover,
input:focus {
	outline: 0;
	outline-offset: 0;
}
